# Segmenting and Clustering Neighborhoods in Toronto

## Part-2

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood. 

In an older version of this course, we were leveraging the Google Maps Geocoding API to get the latitude and the longitude coordinates of each neighborhood. However, recently Google started charging for their API: http://geoawesomeness.com/developers-up-in-arms-over-google-maps-api-insane-price-hike/, so we will use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

The problem with this Package is you have to be persistent sometimes in order to get the geographical coordinates of a given postal code. So you can make a call to get the latitude and longitude coordinates of a given postal code and the result would be None, and then make the call again and you would get the coordinates.

**Getting the latitude and the longitude coordinates of each neighborhood using `geocoder` api to get the geographical coordinates of the neighborhoods in the Toronto and merging these data with the previous toronto.csv**

Next import necessary libraries.

In [2]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes
import requests
import urllib.request

import geocoder

Let's import the toronto dataframe from the previous part.

In [3]:
toronto = pd.read_csv('toronto.csv')

toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Using geocoder with google service results OVER_QUERY_LIMIT: Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. We are not able to get the geographical coordinates of the neighborhoods using the Geocoder package, so let's use http://cocl.us/Geospatial_data this link to a csv file that has the geographical coordinates of each postal code.

In [4]:
geo_data = pd.read_csv('Geospatial_Coordinates.csv')

geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Let's merge *toronto.csv* and *geo_data.csv*.

In [5]:
geo_data.columns = ['PostalCode', 'Latitude', 'Longitude']

toronto_full = pd.merge(toronto, geo_data, on='PostalCode')
toronto_full.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Let's check if the merging was successful.

In [6]:
toronto_full[toronto_full['PostalCode'] == 'M6A']

,PostalCode,Borough,Neighborhood,Latitude,Longitude
71,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763

In [8]:
toronto_full.shape

(103, 5)

Let's save the dataframe in a **.csv** file.

In [9]:
toronto_full.to_csv('toronto_full.csv', index=False)